* {
  margin: 0;
  padding: 0;
}
i {
  font-size: 17px;
}

/* HEADER */
.container {
  display: flex;
  flex-direction: row;
}

.topbar {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar .logo {
  width: 17%;
  text-align: center;
}

.topbar .logo img {
  max-width: 100%;
  width: 30%;
}

.topbar .searchbar {
  width: 63%;
  text-align: center;
}

.topbar .searchbar input[type="search"] {
  width: 55%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.5px solid black;
}

.topbar .profile {
  width: 20%;
  text-align: center;
}

.topbar .profile a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: 20px;
}
/* MENUBAR */
.menubar {
  width: 16%;
  background-color: #1c2838;
  color: white;
}

.menubar p {
  margin-left: 15px;
  color: rgba(220, 220, 220, 0.642);
}

.menu {
  padding: 0 30px;
}

.menu .menu-item {
  list-style-type: none;
  padding: 10px 0;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu a i {
  margin: 0 10px;
}

.hrmenu {
  margin: 22px 0;
  border: 1px solid gray;
}

#Logout {
  padding-bottom: 50px;
}
#Dashboard {
  padding-top: 30px;
}

/* MAIN */
.content {
  width: 84%;
  margin: 55px 35px;
}
.content h4 {
  text-transform: uppercase;
  background-color: #f0f0f0;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.content .main {
  margin-top: 40px;
}
/*  */
.tab {
  overflow: hidden;
  margin: auto;
  width: fit-content;
  border: 1px solid #ccc;
}
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 120px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
/* Content area */
.tabcontent {
  margin: auto;
  display: none;
  margin: 60px 90px;
}
/* TAB 1 & 2*/
.form-group {
  width: 100%;
  margin-bottom: 10px;
}

.tabcontent .form-group label {
  display: block;
  margin-bottom: 2px;
}
.tabcontent .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tabcontent .form-group select {
  width: 102%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tabcontent .form-group input[readonly] {
  background-color: white;
}

.tabcontent .form-group button {
  margin: 20px auto;
  margin-left: 45%;
  padding: 10px 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tabcontent .form-group button:hover {
  color: blueviolet;
}
/* TAB 3 */

