* {
  margin: 0;
  padding: 0;
}
i {
  font-size: 17px;
}

/* HEADER */
.container {
  display: flex;
  flex-direction: row;
}

.topbar {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar .logo {
  width: 17%;
  text-align: center;
}

.topbar .logo img {
  max-width: 100%;
  width: 30%;
}

.topbar .searchbar {
  width: 63%;
  text-align: center;
}

.topbar .searchbar input[type="search"] {
  width: 55%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.5px solid black;
}

.topbar .profile {
  width: 20%;
  text-align: center;
}

.topbar .profile a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: 20px;
}
/* MENUBAR */
.menubar {
  width: 16%;
  background-color: #1c2838;
  color: white;
}

.menubar p {
  margin-left: 15px;
  color: rgba(220, 220, 220, 0.642);
}

.menu {
  padding: 0 30px;
}

.menu .menu-item {
  list-style-type: none;
  padding: 10px 0;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu a i {
  margin: 0 10px;
}

.hrmenu {
  margin: 22px 0;
  border: 1px solid gray;
}

#Logout {
  padding-bottom: 50px;
}
#Dashboard {
  padding-top: 30px;
}

/* ALL CONTENT */
.all-content {
  margin: 35px;
  width: 84%;
}
.all-content .main {
  margin: 20px 0;
}
.all-content .main h4 {
  text-transform: uppercase;
  background-color: #f0f0f0;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.all-content .main form select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

/* ERROR */
.all-content .main .error-box {
  display: none;
}
.all-content .main p {
  margin: 15px 0;
}

.all-content .main table {
  width: 100%;
  margin: auto;
}
tr:nth-child(even) {
  background-color: rgba(245, 245, 245, 0.823);
  z-index: 0;
}
td:nth-child(1),
td:nth-child(2),
td:nth-child(3) {
  text-align: center;
}

.main table select {
  width: 100%;
  background-color: white;
}
.main table,
tr,
th,
td {
  padding: 7px 10px;
  border: 1px solid gray;
  border-collapse: collapse;
}

.all-content .main button {
  margin-left: 45%;
  margin-top: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.all-content .main button:hover {
  color: blueviolet;
}
